<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAT-2Pc_uvcwr4jwB6Tqi062wo9r87CWeU</string>
	<key>GCM_SENDER_ID</key>
	<string>41613828301</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.vyacheslav.InstaCloneFirebase</string>
	<key>PROJECT_ID</key>
	<string>instaclonefirebase-3247a</string>
	<key>STORAGE_BUCKET</key>
	<string>instaclonefirebase-3247a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:41613828301:ios:0f795ca1c778a24c660984</string>
</dict>
</plist>